.homePage {
  display: block;
}
[lang="ta"] {
  font-family: "Noto Serif Tamil", serif;
}

[lang="en"],
html[lang="en"] body {
  font-family: "Lora", serif;
  font-size: 1rem;
  color: rebeccapurple;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* full viewport height */
  margin: 0;
  padding: 0;
  background-image: url(Images/bg_wheat.png);
  overflow-x: hidden;
}
/* Header Styling */

.chant_highlight {
  animation: goldenGlow 2s infinite;
  color: #7c5918;
  display: inline-block;
  margin-top: 5px;
  font-size: clamp(1rem, 2vw, 1.4rem);
  font-weight: bold;
  text-shadow:
    0 0 5px #7c5918,
    0 0 10px #7c5918;
}

@keyframes goldenGlow {
  0%,
  100% {
    text-shadow:
      0 0 5px #7c5918,
      0 0 10px #7c5918;
  }
  50% {
    text-shadow:
      0 0 15px #a67c33,
      0 0 20px #a67c33;
  }
}
.head {
  display: flex;
  max-width: 1100px;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
}

.top-row {
  position: relative;
  text-align: center;
  padding: 10px 20px;
  align-items: center;
  width: 100vw;
  padding: 10px 20px;
}

.top-row a {
  color: #7f5d1f;
  position: absolute;
  right: 70px;
  top: 50%;
  transform: translateY(-50%);
}

.lang-btn {
  box-shadow: 0 0 8px #7c5918;
  border-top: 1px solid #7c5918;
  border-bottom: 1px solid #7c5918;
  border-radius: 5px;
  background-image: url(Images/bg_wheat.png);
  color: #633014;
  font-size: 1rem;
  font-weight: bold;
  font-family: "Noto Serif", serif;
  padding: 6px 10px;
  cursor: pointer;
  text-decoration: none;
}
.lang-btn:hover {
  color: #361503;
}

.head h1 {
  margin-top: 0px;
  font-weight: 700;
  font-size: clamp(1.8rem, 2vw, 2.2rem);
  color: #7c5918;
}

.header_img {
  width: 65%;
  height: auto;
  max-width: 500px;
  align-self: center;
  border-radius: 5px;
  margin-bottom: 10px;
}

#scroll-container {
  box-shadow: 0 0 8px #7c5918;
  border-top: 1px solid #7c5918;
  border-bottom: 1px solid #7c5918;
  display: flex;
  writing-mode: horizontal-tb;
  color: #3d2518;
  font-size: 1rem;
  font-weight: 800;
  align-items: center;
  margin-top: 5px;

  line-height: 30px;
  white-space: nowrap;
  width: 100%;
  height: 30px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  overflow: hidden;
}

#scroll-text {
  font-weight: 800;
  animation-name: my-animation;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  text-align: center;
}

@keyframes my-animation {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}
/* Navbar Styling */
.content_bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin-top: 30px;
}

.content_bar a {
  display: block;
  text-decoration: none;
  color: #7f5d1f;
  background: #f1dfc1;
  font-weight: bold;
  padding-bottom: 10px;
  padding: 10px;
}
.content_bar a:active {
  transform: scale(0.98);
}

.list_item:hover a {
  color: #d4af37;
  text-shadow: 0 0 6px rgba(212, 175, 55, 0.6);
  transform: none;
  background: none;
}
.list_item {
  list-style: none;
  box-sizing: border-box;
  padding: 5px 0;
  width: 100%;
  max-width: 100vw;
  text-align: center;
  margin-bottom: 10px;
}

.footer {
  background-color: #5c4033;
  color: white;
  text-align: center;
  padding: 5px;
  font-size: 0.9rem;
  font-weight: 700;
  margin-top: auto;
  box-shadow: 0 -4px 12px rgba(124, 89, 24, 0.2);
  position: relative;
}

.footer p {
  margin: 0;
  line-height: 1.6;
}
.footer .link {
  font-size: 1rem;
  color: white;
  margin-bottom: 8px;
  display: inline;
}
.footer div {
  display: flex;
  align-items: baseline;
  justify-content: center;
  gap: 12px;
  margin-top: 2px;
}

.footer span {
  display: inline-flex;
  gap: 10px;
}
.icon {
  color: #ff0000;
}
.icon2 {
  color: #1877f2;
}
.footer .icon,
.footer .icon2 {
  font-size: 1.5rem;
  vertical-align: middle;
  transition:
    transform 0.3s ease,
    color 0.3s ease;
}

.footer .icon:hover,
.footer .icon2:hover {
  transform: scale(1.2);
}
.qr-section {
  margin-top: 30px;
  padding-bottom: 35px;
}
.qr-code {
  display: block;
  width: 85%;
  max-width: 700px;
}

/* Section Styling */

.section--4,
.section--5,
.section--6,
.section--8 {
  display: none;
  padding: 20px 15px;
  color: #7c5918;
  font-weight: 500;
  margin: 0 auto;
  /* max-width: 800px; */
  border-bottom: 1px solid #ccc;
}
.section--2,
.section--3 {
  padding: 20px 15px;
  color: #7c5918;
  font-weight: 500;
  margin: 0 auto;
  /* max-width: 800px; */
  border-bottom: 1px solid #ccc;
}

/* Headings */
.section--2 h1,
.section--3 h1,
.section--5 h1,
.section--6 h1,
.section--8 h1 {
  font-size: 1.2rem;
  margin-bottom: 15px;
  color: #6b4f1d;
  border-left: 5px solid #d4af37;
  padding-left: 10px;
}

/* Article Text */
.address,
.history,
.mantra {
  font-size: 1.1rem;

  line-height: 1.6;
}

/* Bold Labels */
.address b {
  color: #4b2e0f;
}

/* Mantra Styling */
.mantra p {
  font-size: 1rem;
  font-weight: bold;
  color: #b4450a;
  background-color: #fff8e1;
  padding: 15px;
  border-radius: 8px;

  text-align: left;
  text-shadow: 1px 1px 0 #b7663b;
}
.inmapinimg_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.inmap {
  width: 100%;
  max-width: 500px;
  height: auto;
  border-radius: 10px;

  margin-top: 15px;
}

.inimg1 {
  width: 100%;
  height: auto;
  max-width: 500px;
  max-height: 300px;

  border-radius: 10px;

  margin-top: 25px;
  transition: transform 0.5s ease;
}

/* STYLE FOR ITENARY PAGE  */
.section--5 {
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
}
.itenary_text {
  flex: 1 1 55%;
  max-width: 600px;
  min-width: 300px;
}
.itenary_text ul {
  padding-left: 20px;
  margin-bottom: 20px;
}

.itenary_item {
  font-size: 1.1rem;
  color: #4a5404;
  font-weight: 600;
}
.iterimg {
  flex: 1 1 40%;
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(124, 89, 24, 0.15);
}
/* Style for Samajam Page */
.section--7 {
  margin-left: 10px;
  margin-top: 35px;
}
.sm_content {
  color: #7c5918;
  font-size: 1.1rem;
  line-height: 1.4;
}
.sm_list {
  color: #4a5404;
  font-weight: 700;
  font-size: 1.1rem;
}
/* Style for Donation Page */
.section--6 {
  text-align: left;
}
/* Style for Contact Page */
.section--8 {
  font-size: 1.1rem;
}
.contactimg {
  width: 250px;
  height: auto;
  border-radius: 10px;
  margin-left: 15%;
  margin-top: 20px;
}
.color {
  color: #4a5404;
  font-weight: 900;
}
.flex_row {
  display: flex;
  flex-direction: column; /* default: stacked for mobile */
  justify-content: left;
  align-items: center;
  gap: 20px; /* spacing between QR and image */
}

.donationimg {
  width: 90vw;
  height: 100%;
  border-radius: 10px;
  border: 1px solid #b4450a;
}
.bank {
  color: #603d1e;
  font-weight: 900;
}
@keyframes fadeSlide {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.section-animate {
  animation: fadeSlide 0.8s ease-out forwards;
  opacity: 0;
}
/* Style for Gallery */

.gallery {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
  padding: 20px;
}

.gallery img {
  width: 100%;
  height: auto;
  /* border-radius: 8px; */
  object-fit: contain;
  aspect-ratio: 3/4;
  border: 4px solid #fceabb;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4); /* Darker shadow */
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}
.gallery img:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.6);
}
/* Media Queries for Home Page*/
@media screen and (min-width: 768px) {
  .chant_highlight {
    font-size: 1.5rem;
  }
  .top-row a {
    right: 60px;
  }
  .head h1 {
    font-size: 1.6rem;
  }
  .inmapinimg_container {
    align-items: flex-start;
  }
  .inimg1 {
    width: 45%;
    height: auto;
    margin-right: 20px;
  }
  .inmap {
    width: 45%;
    height: auto;
    margin-top: 25px;
  }
  main {
    display: flex;
    gap: 10px;
    margin: 1%;
  }
  .content_bar {
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    background-color: #ebd4a3;
    border: 1px solid #ebd4a3;
    border-left: none;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 0 2px 6px #7c59181a;
    height: 100%;
    width: 250px;

    padding: 10px;
    margin: 0 auto;
  }
  .content_bar a {
    display: block;
    padding: 8px 5px;
    color: #b4450a;
    font-size: 1.1rem;
    text-align: left;
    background: none;
  }
  .list_item {
    border-bottom: none;
    margin-top: 15px;
    width: 100%;
  }
  .border {
    /* border: 1px solid #ebd4a3;
    border-radius: 5px; */
    margin-top: 30px;
  }
  .mantra p {
    text-align: justify;
  }

  /* Media Query for Itenary Page */
  .iterimg {
    max-width: 350px;
    height: auto;
    margin-left: 100px;
  }

  /* Media Query for Donation Page */
  .section--6 {
    display: block;
    font-size: 1.1rem;
  }
  .donationimg {
    max-width: 300px;
    height: auto;
    margin-left: 50px;
  }
  /* Media Query for Contact Page */
  .contact_flex {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
  /* Media Query for gallery */
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }

  .gallery img {
    object-fit: fill;
    aspect-ratio: 3/4;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  }
}
/* Media Queries for Home Page*/
@media screen and (min-width: 1024px) {
  .head h1 {
    font-size: 1.85rem;
    text-shadow:
      1.5px 1.5px 0 #221b0f,
      -1px -1px 0 #fff8e7;
    white-space: nowrap;
  }

  .chant_highlight {
    font-size: 1rem;
    font-weight: bold;
  }

  .header_img {
    width: 55%;
    height: auto;
  }
  .top-row a {
    right: 50px;
  }
  #scroll-container {
    font-size: 1rem;
    font-weight: 900;
  }
  /* .inmapinimg_container {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  } */
  .inimg1 {
    width: 45%;
    max-width: 400px;
    object-fit: cover;
    max-height: 500px;
    height: auto;
    margin-left: 80px;
  }
  .inmap {
    width: 25vw;
    height: auto;
    margin-left: 20px;
    margin-top: 25px;
  }
  .mantra {
    margin: 0 auto;
    max-width: 600px;
    text-align: center;
  }
  .mantra p {
    font-size: 1.2rem;
  }
  .qr-code {
    width: 70%;
    max-width: 500px;
    margin: 0 auto;
  }

  /* Media Query for Itenary Page */
  .section--5 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    flex-direction: row;
  }
  .iterimg {
    flex: 1;
    max-width: 350px;
    height: auto;
    border-radius: 10px;
    margin-left: 110px;
    align-self: center;
  }

  .itenary_text {
    flex: 1;
    max-width: 600px;
    min-width: 300px;
  }
  .itenary_text ul {
    padding-left: 20px;
    margin-bottom: 20px;
  }
  /* Media Query for Donation Page */
  .flex_row {
    flex-direction: row; /* side by side on desktop */
    justify-content: left;
    align-items: flex-start; /* align tops neatly */
    gap: 40px;
  }

  .bank_details {
    flex: 1;
    max-width: 45%; /* keeps text block compact */
    font-size: 1rem;
    line-height: 1.6;
  }

  .donationimg {
    flex: 1;
    max-width: 250px; /* balances with bank details */
    height: auto;
    object-fit: contain;
    border-radius: 8px;
  }

  /* Media Query for Contact Page */
  .contact_flex {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    gap: 1rem;
  }
  .color {
    margin-left: -40px;
  }
  /*Media query for gallery  */
  .gallery {
    grid-template-columns: repeat(3, 1fr);
    margin-top: 12px;
  }

  .gallery img {
    border-radius: 8px;
    height: 300px;
    aspect-ratio: 4/3;
    object-fit: cover;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  }
}
/* Media Queries for Home Page*/
@media screen and (min-width: 1440px) {
  .chant_highlight {
    font-size: 1rem;
    font-weight: bold;
  }
  .head h1 {
    font-size: 2.3rem;
    text-shadow:
      2px 2px 0 #917a4f,
      -3px -3px 0 #f9f2e3;
  }
  .header_img {
    width: 50%;
    height: auto;
  }
  #scroll-container {
    font-size: 1.2rem;
    font-weight: 900;
  }
  .section--2 h1,
  .section--3 h1,
  .section--8 h1 {
    font-size: 2rem;
  }
  .address,
  .history,
  .mantra {
    font-size: 1.5rem;
    line-height: 1.6;
  }
  .inmapinimg_container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
  }
  .inimg1 {
    width: max-content;
    height: auto;
    margin-left: 50px;
  }
  .inmap {
    width: max-content;
    height: auto;
    margin-top: 25px;
  }
  .section--2 {
    border-bottom: none;
  }
  /* Media Query for Itenary Page */
  .itenary_item {
    font-size: 1.2rem;
    font-weight: 800;
  }
  .iterimg {
    margin-top: -10px;
    margin-left: 150px;
  }

  /* Media Query for Samajam Page */
  .sm_content {
    font-size: 1.3rem;
  }
  .sm_list {
    font-size: 1.3rem;
    font-weight: 800;
  }
  /* Media Query for Donation Page */
  .section--6 {
    font-size: 1.3rem;
  }
  .section--6 h1 {
    font-size: 2rem;
  }
  .flex_row {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: baseline;
    flex-wrap: wrap; /* Allows wrapping if needed */
    gap: 2rem;
    padding: 2rem;
    width: 100%;
  }

  .bank_details {
    flex: 1 3;
    max-width: 800px;
  }

  .donationimg {
    flex: 1 1 35%;
    max-width: 400px;
    width: 100%;
    height: auto;
    margin-left: -50px;
    border-radius: 10px;
    box-shadow: 0 0 8px #7c591826;
  }
  .bank {
    font-size: 1.5rem;
  }
  /* Media Query for Contact Page */
  .section--8 p {
    font-size: 1.3rem;
  }
  .color {
    font-size: 1.5rem;
    font-weight: 900;
  }
  .contactimg {
    width: 400px;
    height: auto;
  }
}
